/* component-modal */
.modal__toggle {
  list-style-type: none;
}

.no-js details[open] .modal__toggle {
  position: absolute;
  z-index: 5;
}

.modal__toggle-close {
  display: none;
}

.no-js details[open] svg.modal__toggle-close {
  display: flex;
  z-index: 1;
  height: 1.7rem;
  width: 1.7rem;
}

.modal__toggle-open {
  display: flex;
}

.no-js details[open] .modal__toggle-open {
  display: none;
}

.no-js .modal__close-button.link {
  display: none;
}

.modal__close-button.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  height: 4.4rem;
  width: 4.4rem;
  background-color: transparent;
}

.modal__close-button .icon {
  width: 1.7rem;
  height: 1.7rem;
}

.modal__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(var(--color-background));
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 7rem;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgba(var(--color-foreground), 0.2);
  height: calc( 100% - 7rem );
}






.variant-picker__option-info .product-popup-modal__opener {
  float: right;
}

.variant-picker__option-info .product-popup-modal__button {
  height: auto;
}




body.announcement-bar--removed .product-popup-modal {
  top: 36px;
  height: calc( 100% - 36px );
}

@media (max-width: 1100px) {
  .product-popup-modal {
    top: 123px;
    height: calc( 100% - 123px );
  } 
  body.announcement-bar--removed .product-popup-modal {
    height: calc( 100% - 93px );
  }
}

@media (max-width: 767px) {
  .product-popup-modal {
    top: 84px;
    height: calc( 100% - 84px );
  } 
  body.announcement-bar--removed .product-popup-modal {
    top: 50px;
    height: calc( 100% - 50px );
  }

  .product-popup-modal--size-chart.product-popup-modal {
    padding-top: 22px;
  }
}

.product-popup-modal--size-chart .product-popup-modal__inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.product-popup-modal--size-chart .product-popup-modal__toggle {
  border: none;
  padding: 0;
  width: 9px;
}

.product-popup-modal--size-chart .product-popup-modal__content-info {
  padding-right: 0;
  overflow: hidden;
}


.product-popup-modal__content table {
  border: none;
  border-collapse: inherit;
  box-shadow: none;
  width: 100% !important;
}

/* .product-popup-modal--size-chart[open] .product-popup-modal__content tr {
  display: block;
  height: auto !important;
}

.product-popup-modal--size-chart[open] .product-popup-modal__content tr:first-child td {
  min-width: calc(20% - 4px) !important;
} */

.product-popup-modal--size-chart[open] .product-popup-modal__content tr td {
  height: auto !important;
}

/* .product-popup-modal--size-chart[open] .product-popup-modal__content tr:nth-child(even) {
  position: relative;
}

.product-popup-modal--size-chart[open] .product-popup-modal__content tr:nth-child(even) td:first-child:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #F5F4F1;
  z-index: -1;
} */

.product-popup-modal--size-chart[open] .product-popup-modal__content td {
  width: auto !important;
  border: none;
}

.product-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

@media screen and (min-width: 750px) {

  .product-media-modal__dialog .global-media-settings--no-shadow {
    overflow: visible !important;
  }
}

.product-popup-modal__content img {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .product-popup-modal__content table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
  }

  .product-media-modal__dialog .global-media-settings,
  .product-media-modal__dialog .global-media-settings video,
  .product-media-modal__dialog .global-media-settings model-viewer,
  .product-media-modal__dialog .global-media-settings iframe,
  .product-media-modal__dialog .global-media-settings img {
    border: none;
    border-radius: 0;
  }
}

.product-popup-modal__opener {
  display: inline-block;
}

.product-popup-modal__button {
  padding-left: 0;
  height: 4.4rem;
  cursor: pointer;
}


.product-popup-modal__content-info {
  padding-right: 4.4rem;
}

.product-popup-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .product-popup-modal__content-info > * {
    max-height: 100%;
  }
}

.product-popup-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  padding: 1.2rem;
  z-index: 2;
  top: 1.5rem;
  width: 4rem;
  margin: 0 0 0 auto;
}

.product-popup-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.product-popup-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
  stroke: var(--color-icon);
}



.size-calculator__units-label {
  display: flex;
  list-style: none;
  background: #F5F4F1;
  border-radius: 100px;
  position: relative;
  width: fit-content;
  margin: 0 auto 35px;
  padding-left: 0;
  cursor: pointer;
  color: #000;
}

.size-calculator__units-label:before {
  content: '';
  z-index: 0;
  background: #626060;
  position: absolute;
  width: calc( 50% + 5px );
  height: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  transition: left .3s ease;
}

#units {
  width: 0;
  heigth: 0;
  margin: 0;
  position: absolute;
  visibility: hidden;
}

#units:checked + label > .size-calculator__units-label:before {
  left: calc( 50% - 5px );
}

.size-calculator__units-label li {
  font-weight: bold;
  line-height: 11px;
  text-align: center;
  padding: 10px 29.5px 10px 34.5px;
  position: relative;
  transition: color .3s ease;
}
.size-calculator__units-label li:last-child {
  padding: 10px 34.5px 10px 29.5px;
}
  
#units:not(:checked) + label > .size-calculator__units-label li:first-child {
  color: #fff;
}

#units:checked + label > .size-calculator__units-label li:last-child {
  color: #fff;
}

.size-calculator__holder {
  background: #F5F4F1;
  padding: 21px 21px 20px;
  border-radius: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.size-calculator__title {
  margin: 0 0 38px;
  text-align: center;
}

.size-calculator__holder h4 {
  margn: 0 0 30px;
}

.size-calculator__fields {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.size-calculator__fields label {
  flex-grow: 1;
  max-width: 106px;
  text-align: center;
}

.size-calculator__fields label span {
  text-transform: uppercase;
}

.size-calculator__fields input {
  height: 31px;
  border: none;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.calculator-success,
.calculator-error {
  margin-top: 30px;
}

.lock .shopify-section--header {
  z-index: 1 !important;
}


input[type="checkbox"]:checked + .product_selector__container {
  border: 2px solid #333;
  padding: 10px;
  border-radius: 5px;
}

.visually-hidden {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  position: absolute;
}

.product-selector__button {
  width: fit-content;
  margin: 0 auto;
}
.product-selector__button input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
  border: none;
}
.product-selector__button input[type="checkbox"]:checked + .toggler-off {
  display: none;
}
.product-selector__button input[type="checkbox"] + .toggler-off + .toggler-on {
  display: none;
}
.product-selector__button input[type="checkbox"]:checked + .toggler-off + .toggler-on {
  display: inline-block;
}

@media (max-width: 767px) {
  #shopify-section-template--14910124687434__e72b3e83-78ae-427f-a359-430414bcfda5 .section,
  #shopify-section-template--14910124687434__b3e39613-8fcc-4aa5-97da-cafa9e57687b .section,
  #shopify-section-template--14910124687434__5c16b703-f7ac-409a-bf60-2f7a026af979 .section{
    padding-block-start: 20px;
    padding-block-end: 20px;
  }
}

.content-over-media--fill>.real-size:is(img,video,iframe,svg,video-media) {
  height: auto;
}

[role=main] .shopify-section:not(.contents).hidden {
  display: none;
}
/* Стили для мобильной версии */
@media (max-width: 768px) {
  .card.clicked {
    border: 2px solid red; /* Измените стили границы на нужные вам */
  }

  .button_course.clicked {
    color: white; /* Измените цвет текста на белый */
    background-color: black; /* Измените цвет фона на черный */
  }
}

.pf-m > iframe:nth-child(1) {
  height: 500px !important;
}

#shopify-section-template--14989537181770__16987571857d718cb5 > div:nth-child(3) {
    margin: 0 !important;
  padding: 5px !important;
}

#shopify-section-template--14989537181770__16987571857d718cb5 {
  display: none;
}

#shopify-section-template--14989537181770__16987571857d718cb5.active {
    display: block;
}

div.bndlr-product:nth-child(n) > select {
  display: block !important;
}

@media (max-width: 768px) {
  .injected-newsletter {
      grid-column: 1 / span 2;
  }

  .place-stretch {
    height: 100%;
  }
  
  .place-stretch .prose {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .place-stretch .prose>:first-child, 
  .place-stretch .prose>:first-child :first-child,
  .place-stretch .prose .button {
    margin-block-start: auto !important;
  }
}

.injected-newsletter .klaviyo-form,
.injected-newsletter .klaviyo-form > div{
  height: 100%;
}  

.injected-newsletter .klaviyo-form .go3176171171 p,
.injected-newsletter .klaviyo-form .go3176171171 span{
  letter-spacing: .84px;
}

.injected-newsletter .klaviyo-form [data-testid="form-row"]:nth-child(2) {
  margin-bottom: auto;
}

.klaviyo-form [data-testid="form-row"] input {
  text-align: center !important;
  padding-left: 0 !important;
}

.injected-newsletter .klaviyo-form [data-testid="form-row"] button {
  padding-left: 21px !important;
  padding-right: 21px !important;
}

@media (min-width: 700px) {
  .klaviyo-form-UxeRGv form > div.needsclick:first-child {
    min-width: 56vw !important;
  }
}


.content-over-media > .has-full-width:not(img,video,iframe,svg,video-media) {
  width: 100%;
  max-width: none;
}
.full-width-button .button {
  width: 100%;
}

.custom-button-inner {
  display: flex;
  justify-content: space-between;
}

icon.community,
icon.mark {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.69282 0.0686009C7.42818 0.165075 7.25295 0.323722 6.84134 0.83958C6.15112 1.70464 6.08286 1.73878 4.94972 1.78549C4.10278 1.82046 3.91085 1.86216 3.70717 2.05557C3.52204 2.23132 3.42347 2.47607 3.25479 3.17886C3.00175 4.23339 2.95134 4.29822 2.00039 4.79315C1.66848 4.96583 1.31533 5.18032 1.21556 5.2697C0.864801 5.58409 0.820044 5.95023 1.02408 6.83759C1.25162 7.8274 1.19651 8.06358 0.541799 8.9049C0.12238 9.44383 0.0015097 9.68849 9.44864e-06 10.0016C-0.00144079 10.2989 0.163936 10.6284 0.576704 11.1509C1.19156 11.9291 1.24911 12.1884 1.02408 13.1671C0.820044 14.0545 0.864801 14.4206 1.21556 14.735C1.31533 14.8244 1.67048 15.0399 2.00479 15.2139C2.33909 15.3879 2.68555 15.5956 2.77467 15.6755C2.98235 15.8616 3.10297 16.1584 3.27895 16.9165C3.44378 17.6266 3.61345 17.9353 3.92456 18.091C4.08918 18.1733 4.27516 18.1968 4.97473 18.2233C6.10486 18.2662 6.16312 18.2988 6.99236 19.3527C7.22925 19.6539 7.36597 19.7773 7.58186 19.8851C7.8475 20.0177 7.8783 20.0222 8.1424 19.9656C8.29607 19.9328 8.68474 19.7779 9.00604 19.6215C9.89379 19.1896 10.153 19.1935 11.054 19.6528C11.539 19.9 11.9623 20.0259 12.173 19.9855C12.4442 19.9336 12.7645 19.676 13.1122 19.2301C13.8332 18.3056 13.9024 18.2695 15.0513 18.2201C15.5052 18.2005 15.944 18.1566 16.0265 18.1226C16.3905 17.9723 16.5582 17.6769 16.735 16.8745C16.9685 15.8145 17.0642 15.6887 18.0019 15.2089C18.6529 14.8758 18.9312 14.6598 19.0345 14.4074C19.1305 14.1729 19.1177 13.7717 18.9981 13.2692C18.9414 13.0306 18.8821 12.6699 18.8664 12.4677C18.841 12.14 18.8522 12.0707 18.9695 11.8297C19.0418 11.6809 19.2621 11.3525 19.4589 11.0998C19.8796 10.5599 20 10.3157 20 10.0024C20 9.68926 19.8797 9.44511 19.4593 8.9049C18.8046 8.06358 18.7495 7.8274 18.977 6.83759C19.2549 5.62885 19.1343 5.37521 18.0072 4.79851C17.0312 4.29914 16.9778 4.22604 16.7005 3.00924C16.5382 2.29686 16.3766 2.02668 16.0265 1.88217C15.944 1.84812 15.5052 1.80387 15.0514 1.78381C13.9028 1.73302 13.8331 1.69734 13.1322 0.800991C12.8024 0.379259 12.6722 0.253536 12.4399 0.132254C12.1664 -0.0104673 12.1411 -0.0144999 11.867 0.0417003C11.7093 0.0740116 11.3093 0.231995 10.978 0.392735C10.4104 0.668172 10.354 0.684966 10.0006 0.684507C9.65 0.683996 9.58629 0.665212 9.02539 0.397074C8.448 0.121075 8.10914 -0.00403551 7.95022 9.91135e-05C7.90896 0.0012221 7.79314 0.0320018 7.69282 0.0686009ZM13.8067 5.86131C13.5579 5.95145 13.336 6.16421 10.9308 8.61895L8.32453 11.2788L7.47479 10.4075C7.00741 9.92825 6.52848 9.47752 6.41046 9.40591C6.26384 9.31688 6.09766 9.26819 5.88538 9.25206C5.61613 9.23164 5.53827 9.24772 5.30013 9.37298C4.75959 9.65725 4.52345 10.1978 4.68228 10.7872C4.76554 11.0964 4.78195 11.1158 6.16862 12.5424C7.13918 13.5409 7.63937 14.0188 7.79349 14.095C8.08549 14.2393 8.49671 14.2412 8.80036 14.0998C8.97179 14.0199 9.76617 13.2366 12.1348 10.8118C15.1991 7.67498 15.2454 7.62455 15.3256 7.33803C15.4194 7.00287 15.394 6.77333 15.225 6.42923C15.0933 6.16115 15.0037 6.07243 14.714 5.92379C14.4045 5.76494 14.1255 5.74574 13.8067 5.86131Z' fill='%230038FF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

icon.community {
  width: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='20' viewBox='0 0 30 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.922 0.0817878C11.2395 0.69536 9.57725 3.38804 10.2481 6.03289C10.304 6.25331 10.4679 6.67412 10.6123 6.96801C12.387 10.5809 17.5275 10.5809 19.3022 6.96801C20.2324 5.07453 19.8809 2.92422 18.3958 1.42168C17.8473 0.866821 17.2068 0.468059 16.4601 0.216445C15.8058 -0.00397616 14.5809 -0.0689669 13.922 0.0817878ZM14.1448 2.24966C13.6548 2.41144 13.3924 2.57843 13.0079 2.97311C11.972 4.03635 11.9834 5.7066 13.0338 6.75628C14.0899 7.81163 15.8186 7.81864 16.8648 6.77171C17.9815 5.6543 17.939 3.92841 16.7681 2.84427C16.26 2.3739 15.7892 2.1826 15.0575 2.14921C14.6623 2.13117 14.4245 2.15735 14.1448 2.24966ZM5.42385 3.82447C4.12771 4.13854 3.00429 5.26289 2.70091 6.54988C2.50347 7.38715 2.59284 8.17966 2.97557 8.98627C4.04582 11.2416 7.04007 11.7683 8.81193 10.0128C9.35142 9.47828 9.63957 8.98634 9.81511 8.30009C9.9827 7.64484 9.98283 7.16005 9.81558 6.50613C9.63309 5.79264 9.39424 5.37784 8.84673 4.82392C7.9426 3.9091 6.64191 3.52931 5.42385 3.82447ZM22.7904 3.82447C21.4942 4.13854 20.3708 5.26289 20.0674 6.54988C19.87 7.38715 19.9594 8.17966 20.3421 8.98627C21.4123 11.2416 24.4066 11.7683 26.1784 10.0128C26.7179 9.47828 27.0061 8.98634 27.1816 8.30009C27.3492 7.64484 27.3493 7.16005 27.1821 6.50613C26.9996 5.79264 26.7608 5.37784 26.2132 4.82392C25.3091 3.9091 24.0084 3.52931 22.7904 3.82447ZM5.87284 5.92829C5.11793 6.15793 4.67863 6.81018 4.75838 7.58279C4.8539 8.50863 5.78728 9.12948 6.69949 8.87406C7.55138 8.6356 8.03504 7.62888 7.68157 6.82995C7.49167 6.40053 7.31473 6.21624 6.90856 6.02468C6.57352 5.86671 6.19205 5.83124 5.87284 5.92829ZM23.1062 5.95167C22.7806 6.05761 22.2859 6.57226 22.1859 6.90897C21.9473 7.71244 22.2973 8.47924 23.0505 8.80326C24.2375 9.3139 25.4889 8.17592 25.0834 6.95486C24.9594 6.58161 24.5974 6.18973 24.2417 6.04358C23.9067 5.90598 23.3781 5.86317 23.1062 5.95167ZM13.4878 10.4686C12.772 10.627 12.3932 10.7562 11.7026 11.0774C8.96976 12.3484 7.02311 15.4391 6.98483 18.5676C6.97448 19.4177 7.0187 19.5442 7.43523 19.8552C7.69386 20.0483 8.32747 20.0483 8.58609 19.8552C8.96642 19.5712 9.02927 19.4164 9.09153 18.6106C9.16019 17.722 9.338 16.9206 9.61038 16.2723C10.3348 14.548 11.6402 13.3011 13.3208 12.7279C14.0987 12.4626 15.2564 12.3979 16.0534 12.5753C17.3007 12.8527 18.4227 13.5389 19.2399 14.5239C20.208 15.6908 20.6945 16.9468 20.823 18.6106C20.8853 19.4164 20.9481 19.5712 21.3284 19.8552C21.4656 19.9576 21.6132 19.9929 21.9039 19.9929C22.3268 19.9929 22.5408 19.883 22.8015 19.532C22.9236 19.3676 22.9381 19.2587 22.9297 18.5676C22.8907 15.3762 20.9482 12.3535 18.0695 11.0045C17.107 10.5534 16.3727 10.3944 15.1243 10.3667C14.2592 10.3475 13.9473 10.3669 13.4878 10.4686ZM5.57267 12.2085C4.91548 12.315 4.36009 12.4927 3.70243 12.807C1.52954 13.8456 0.157054 15.9136 0.017053 18.3601C-0.0169453 18.9545 -0.00465528 19.1044 0.095603 19.3157C0.449746 20.062 1.41532 20.1654 1.91488 19.5105C2.07024 19.3068 2.09589 19.195 2.14064 18.5284C2.22434 17.2813 2.60146 16.4187 3.42784 15.5843C4.17199 14.8328 5.02516 14.4259 6.13334 14.2937C6.72146 14.2236 6.91844 14.1278 7.17159 13.7887C7.27399 13.6516 7.30932 13.504 7.30932 13.2133C7.30932 12.3786 6.69989 12.0259 5.57267 12.2085ZM23.185 12.2524C22.6753 12.5139 22.4409 13.151 22.6738 13.6418C22.8678 14.0506 23.1558 14.2192 23.7894 14.2948C24.8817 14.425 25.7394 14.8336 26.4848 15.579C27.3016 16.3959 27.6865 17.2789 27.773 18.5347C27.8184 19.1935 27.8448 19.3075 27.9997 19.5105C28.4992 20.1654 29.4648 20.062 29.8189 19.3157C29.9192 19.1044 29.9315 18.9545 29.8975 18.3601C29.8436 17.4183 29.6491 16.6587 29.2555 15.8517C28.5601 14.4263 27.535 13.4197 26.0913 12.7447C25.0592 12.2621 23.6359 12.021 23.185 12.2524Z' fill='black'/%3E%3C/svg%3E%0A");
}

.sticky-announcement .shopify-section--announcement-bar {
  position: sticky;
  top: 0;
  z-index: 99;
}

/* .sticky-announcement .shopify-section--header .header.is-filled {
  padding-top: 60px;
}

@media (max-width: 768px) {
  .sticky-announcement .shopify-section--header .header.is-filled {
    padding-top: 48.8px;
  }
} */